/* .card {
    height:300px;
    width: 300px;
    padding: 1rem;
    border: 1px solid black;
    margin: 1rem;
    color: blue;
    } */



.img{
    width: 500px;
    height: 200px;
    background-color:yellowgreen;
    margin: 0% auto;
    margin-top: 4px;
    margin-bottom: 10px;
    display: block;

}
.form{
    
    width: 500px;
    display: block;
    
    margin: 20px auto 30px auto;
}